
<mat-sidenav-container class="accounts-container">
  <mat-sidenav mode="side" opened>
    <div class="sidenav-div">
      <a mat-button
         routerLinkActive="active"
         routerLink="/accounts/create-account">Account creation</a>
    </div>
    <div class="sidenav-div">
      <a mat-button
         routerLinkActive="active"
         routerLink="/accounts/review-approval">Account review and approval</a>
    </div>
    <div class="sidenav-div">
      <a mat-button
         routerLinkActive="active"
         routerLink="/accounts/change-password">Change Password</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
