.dialog-content {
  width: 300px;
}

.text-field {
  margin-bottom: 10px;
}

.short-form-field {
  width: 120px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
