<app-header></app-header>
<div class="main-container">
    <section class="bg-gradient text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-5">
                    <div class=" text-center text-md-left">
                        <h1 class="no-wrap">Hi again, Gunnar!</h1>
                        <p>Complete your Profile. It's at 60%</p>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section>
        <div class="container">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="media align-items-center">
                        <span class="h6">BTC/USD Historical Data</span>
                    </div>

                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">1HR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">4HR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">1D</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">1W</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="card-body">
                            <div class="align-middle">
                                <img src="assets/img/chart-demo.png" class="img-fluid">
                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-md-3 border-left">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-12 col-sm-6 col-md-12 my-2">
                                    <span class="title-decorative  m-0">Market Price</span>
                                    <small class="title-decorative text-dark">$8,858.30</small>
                                </div>
                                <!--end of col-->
                                <div class="col-12 col-sm-6 col-md-12  my-2">
                                    <span class="title-decorative m-0">24hr Change</span>
                                    <small class="title-decorative text-red">
                                        <span class="stack-down-dir">▾</span> $183 (-0.83%) </small>
                                </div>
                                <!--end of col-->
                                <div class="col-12 col-sm-6 col-md-12 my-2">
                                    <span class="title-decorative m-0">24hr Range</span>
                                    <small class="title-decorative text-dark">$8,602.08-9,038.00</small>
                                </div>
                                <!--end of col-->
                                <div class="col-12 col-sm-6 col-md-12 my-2">
                                    <span class="title-decorative m-0">24hr Volume</span>
                                    <small class="title-decorative text-dark">$933,293</small>
                                </div>
                                <!--end of col-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div>
                                <span class="h6">Transaction History</span>
                            </div>
                            <a href="app_trx-history.html">View all ›</a>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">12 April</div>
                                    <div class="col">Limit Buy 5.04729572 BTC @ $7,439</div>
                                    <div class="col-2 text-center">
                                        <span class="badge badge-warning badge-pill">Pending</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">12 April</div>
                                    <div class="col">Limit Sell 1.893639473 BTC @ $8,439</div>
                                    <div class="col-2 text-center">
                                        <span class="badge badge-success badge-pill">Completed</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">12 April</div>
                                    <div class="col">Market Order 32.38493044 ETH @ $439</div>
                                    <div class="col-2 text-center">
                                        <span class="badge badge-success badge-pill">Completed</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">12 April</div>
                                    <div class="col">Limit Buy 5.04729572 BTC @ $7,439</div>
                                    <div class="col-2 text-center">
                                        <span class="badge badge-success badge-pill">Completed</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">12 April</div>
                                    <div class="col">Limit Buy 5.04729572 BTC @ $7,439</div>
                                    <div class="col-2 text-center">
                                        <span class="badge badge-success badge-pill">Completed</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">11 April</div>
                                    <div class="col">Market Order 32.38493044 ETH @ $439</div>
                                    <div class="col-2 text-center">
                                        <span class="badge badge-success badge-pill">Completed</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">02 April</div>
                                    <div class="col">Limit Buy 5.04729572 BTC @ $27,439</div>
                                    <div class="col-2 text-center">
                                        <span class="badge badge-success badge-pill">Completed</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">01 April</div>
                                    <div class="col">Limit Sell 1.83800973 BTC @ 3439</div>
                                    <div class="col-4 text-center">
                                        <span class="badge badge-success badge-pill">Completed</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
    <!-- <app-balance-panel style="width: 100%; margin-bottom: 20px;"></app-balance-panel>
<app-history-data style="width: 100%; margin-bottom: 20px;"></app-history-data>
<app-user-orders style="width: 100%; margin-bottom: 20px;"></app-user-orders> -->