<div class="main-container">
    <img src="assets/img/guilloche-1.svg" class="bg-image opacity-10">
    <section class="space-md height-100">
        <div class="container align-self-start">
            <div class="row mb-5">
                <div class="col text-center">
                    <a routerLink="/">
                        <img alt="Image" src="assets/img/logo-white.svg">
                    </a>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="row justify-content-center">
                <div class="col-11 col-md-8 col-lg-7">
                    <div class="card card-lg text-center">
                        <div class="card-body">
                            <div class="mb-4">
                                <h2 class="mb-2">An email has been sent with instructions to reset your password.</h2>
                                <span>Please check your email and enter the authorization code in the message we sent to jannojarv@gmail.com.</span>
                            </div>
                            <div class="row no-gutters justify-content-center">
                                <div class="text-left col-lg-8">
                                    <div class="form-group">
                                        <label for="reset-email" class="sr-only">Authorization code</label>
                                        <input class="form-control form-control-lg" autofocus="" required="" type="email" name="code" id="auth-code" placeholder="Authorization code">
                                    </div>
                                    <div class="text-center mb-4">
                                        <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>