<div id="fourth">
    <div class="row">
        <div *ngIf="onboardingMode" class="col-6 d-none d-md-block"></div>

        <div class="col" [formGroup]="form">
            <h5>Add a Bank Account</h5>

            <p>Link your bank account to your Elements account to transfer Fiat into and out of exchange. You can verify your bank account by initiating a wire transfer to Elements.</p>

            <div class="form-group">
                <label>Bank Account Holder Name</label>

                <input class="form-control form-control-lg" type="text" data-toggle="tooltip" data-placement="top" title="We do not accept third-party bank accounts. The bank account must be in the account holder name." value="John Doe" placeholder="Account Holder Name"
                    formControlName="accountHolder">
            </div>

            <div class="form-group">
                <label>Bank Name</label>

                <input class="form-control form-control-lg" formControlName="name" />
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label>SWIFT Code</label>

                    <input class="form-control form-control-lg" formControlName="swiftCode" />
                </div>

                <div class="form-group col">
                    <label>Country</label>

                    <select class="custom-select form-control-lg" formControlName="countryCode">
                        <option *ngFor="let country of countries" [value]=country.id>{{ country.countryName }}</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label>National Routing Code <i>(if any)</i></label>

                    <input class="form-control form-control-lg" formControlName="clearingCode" />
                </div>

                <div class="form-group col">
                    <label>Bank Account Number</label>

                    <input class="form-control form-control-lg" formControlName="accountNumber" />
                </div>
            </div>

            <button type="submit" class="btn btn-block btn-lg btn-primary" (click)="addBankAccount()">Add Your Bank Account</button>
            <button *ngIf="onboardingMode" class="btn btn-block btn-lg btn-secondary" (click)="onVerifyBank()">Do This Later</button></div>
    </div>
</div>
