$border: 1px solid darkgrey;

.dashboard-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;

  .block:first-child {
    padding-left: 0;
  }
  .block {
    flex-grow: 1;
    padding-left: 20px;
  }

  .block:not(:last-child) {
    border-right: $border;
  }
}
