<div class="nav-container">
    <div class="position-static bg-gradient navbar-dark" data-sticky="top">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" routerLink="/">
                    <img alt="Elements Backoffice" src="assets/img/logo-white.svg" />
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="icons8-menu h5"></i>
                </button>

            </nav>
        </div>
        <!--end of container-->
    </div>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
</div>