<app-header></app-header>

<div class="wizard" id="onboarding-wizard">

    <section class="bg-white">
        <div class="container">
            <div class="bg-white" id="wizard-tabs">
                <mat-horizontal-stepper linear #stepper class="disabled-header">
                    <mat-step>
                        <app-email-verify (verifyClientEmail)="toNextStep($event)"></app-email-verify>
                    </mat-step>
                    <mat-step>
                        <app-enable-2fa (verifyPhone)="toNextStep($event)"></app-enable-2fa>
                    </mat-step>
                    <mat-step>
                        <app-identity (verifyIdentity)="toNextStep($event)"></app-identity>
                    </mat-step>
                    <mat-step>
                        <app-add-bank (verifyBank)="toNextStep($event)"></app-add-bank>
                    </mat-step>
                    <mat-step>
                        <app-upload-documents (startCheck)="toNextStep($event)"></app-upload-documents>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </section>

</div>

<app-footer></app-footer>