<mat-card>
    <mat-card-content>
        <mat-horizontal-stepper linear #stepper class="disabled-header">
            <mat-step label="Enable 2FA">
                <app-enable-2fa (verifyPhone)="toNextStep($event)"></app-enable-2fa>
            </mat-step>
            <mat-step label="Add Bank Account">
                dummy
                <!--TODO: delete after creating bank account adding-->
                <button mat-button (click)="toNextStep({isVerified: true})">Next</button>
            </mat-step>
            <mat-step label="Verify Identity">
                <app-identity (verifyIdentity)="toNextStep($event)"></app-identity>
            </mat-step>
            <mat-step label="Upload Documents">
                <app-upload-documents (startCheck)="toNextStep($event)"></app-upload-documents>
            </mat-step>
            <mat-step label="Complete">
                <h2 style="text-align: center">Congratulations, Comrad!</h2>
                <div>
                    Thanks for joining us! If you are reading it, your account is not yet verified. For check your verify status please reload this page.
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>