<div class="market-data">
  <div class="history-data">
    <h2>Historical data</h2>
    <div class="stats">
      Under construction.
      <!--<div>-->
        <!--<span class="stat-header">Last price</span>-->
        <!--<span class="stat-content">$ {{lastPrice | currency:"USD"}}</span>-->
      <!--</div>-->
      <!--<div>-->
        <!--<span class="stat-header">24h change</span>-->
        <!--<span class="stat-content"> ${{priceRange.max - priceRange.min | currency:"USD"}}</span>-->
      <!--</div>-->
      <!--<div>-->
        <!--<span class="stat-header">24h range</span>-->
        <!--<span class="stat-content">$ {{priceRange.min | currency:"USD"}} - {{priceRange.max | currency:"USD"}}</span>-->
      <!--</div>-->
    </div>
    <!--<div class="chart-container">-->
      <!--<canvas id="chart" width="300" height="160"></canvas>-->
    <!--</div>-->
  </div>
  <div class="recent-trades">
    <h2>Recent trades</h2>
    <div class="trade-item">
      <span class="qty-header">Quantity</span>
      <span class="price-header">Price</span>
      <span class="time-header">Time</span>
    </div>
    <div class="trade-item animated fadeIn" *ngFor="let trade of trades">
        <span class="quantity">{{trade.quantity | number:"1.6-6"}} BTC</span>
        <span class="price" [class.buy]="trade.isBuy" [class.sell]="!trade.isBuy">$ {{trade.price | number:"1.2-2"}}</span>
        <span class="time">{{trade.timestamp | date:"hh:mm:ss"}}</span>
    </div>
  </div>
</div>
