mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  .mat-button.logo{
    padding-top: 11px;
  }
  .mat-button{
    height: 62px;
  }
}

nav {
  display: flex;
  flex-direction: row;

  .logo {
    font-size: 24px;
    font-weight: 400;
  }
}
